*.pdf
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.nav
*.snm
*.toc
*.xmpi
*.synctex(busy)
Book/Chapters/P2-Propositional/forallx-mit-01-PL-syntax.aux
Book/Chapters/P2-Propositional/forallx-mit-02-PL-semantics.aux
Book/Chapters/P2-Propositional/forallx-mit-03-PL-deduction.aux
Book/Chapters/P2-Propositional/forallx-mit-04-PL-soundness.aux
Book/Chapters/P2-Propositional/forallx-mit-05-PL-completeness.aux
Book/Chapters/P2-Propositional/forallx-mit-06-PL-midterm.aux
Book/Chapters/P3-First-Order/forallx-mit-07-FOL-syntax.aux
Book/Chapters/P3-First-Order/forallx-mit-08-FOL-semantics.aux
Book/Chapters/P3-First-Order/forallx-mit-09-FOL-identity.aux
Book/Chapters/P3-First-Order/forallx-mit-10-FOL-deduction.aux
Book/Chapters/P3-First-Order/forallx-mit-11-FOL-soundness.aux
Book/Chapters/P3-First-Order/forallx-mit-12-FOL-completeness.aux
Book/Chapters/P4-Appendix/forallx-mit-app-notation.aux
Book/Chapters/P4-Appendix/forallx-mit-app-quickreference.aux
Book/Chapters/P4-Appendix/forallx-mit-backmatter.aux
