*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.nav
*.snm
*.toc
*.xmpi
*.synctex(busy)
Handouts/Week00_1.pdf
Handouts/Week03_1.pdf
Handouts/Week03_2.pdf
Handouts/Week04_1.pdf
Handouts/Week04_2.pdf
Handouts/Week05_1.pdf
Handouts/Week05_2.pdf
Handouts/Week07_1.pdf
Handouts/Week08_2.pdf
Handouts/Week09_1.pdf
Handouts/Week09_2.pdf
Handouts/Week10_1.pdf
Handouts/Week10_2.pdf
Handouts/Week11_1.pdf
Handouts/Week12_1.pdf
Handouts/Week12_2.pdf
Handouts/Week13_1.pdf
Handouts/Week13_2.pdf
Handouts/Week14_1.pdf
Lectures/Week00_1/Week00_1.pdf
Lectures
OLD
Book/forallx-mit.pdf
bibliography/bibliography.pdf
