forallx-backcover.pdf
forallx-frontcover.pdf
forallx-ubc-1-intro.aux
forallx-ubc-10-QLtrees.aux
forallx-ubc-11-QLsoundcomplete.aux
forallx-ubc-12-identity.aux
forallx-ubc-13-QLND.aux
forallx-ubc-2-sentential.aux
forallx-ubc-3-truthtables.aux
forallx-ubc-4-SLmodels.aux
forallx-ubc-5-SLtrees.aux
forallx-ubc-6-SLsoundcomplete.aux
forallx-ubc-7-SLND.aux
forallx-ubc-7-midterm-review.aux
forallx-ubc-8-predicate.aux
forallx-ubc-9-QLmodels.aux
forallx-ubc-MIT 2022 version.pdf
forallx-ubc-app-QND-soundness.aux
forallx-ubc-app-notation.aux
forallx-ubc-app-quickreference-Hunt.aux
forallx-ubc-app-solutions.aux
forallx-ubc-frontmatter-Hunt.aux
forallx-ubc-frontmatter.log
forallx-ubc-preface-Hunt.aux
forallx-ubc-z1-intro-p.aux
forallx-ubc-z10-QLtrees-p.aux
forallx-ubc-z11-QLsoundcomplete-p.aux
forallx-ubc-z12-identity-p.aux
forallx-ubc-z3-truthtables-p.aux
forallx-ubc-z4-SLmodels-p.aux
forallx-ubc-z5-SLtrees-p.aux
forallx-ubc-z6-SLsoundcomplete-p.aux
forallx-ubc-z7-SLND-p.aux
forallx-ubc-z8-predicate-p.aux
forallx-ubc-z9-QLmodels-p.aux
forallx-ubc.aux
forallx-ubc.fdb_latexmk
forallx-ubc.fls
forallx-ubc.log
forallx-ubc.out
forallx-ubc.pdf
forallx-ubc.synctex.gz
Book/forallx-ubc-backmatter.aux
Book/forallx-ubc-backmatter.aux
Book/forallx-ubc-app-solutions.tex
Book/forallx-ubc-z13-QLND-p.aux
Book/forallx-ubc-z13-QLND-p.aux
Book/forallx-ubc-z2-sentential-p.aux
Book/forallx-ubc-backmatter.aux
Book/forallx-ubc-z13-QLND-p.aux
Book/forallx-ubc-z2-sentential-p.aux
Book/forallx-ubc-backmatter.aux
Book/forallx-ubc-z13-QLND-p.aux
Book/forallx-ubc-z2-sentential-p.aux
Syllabus/Syllabus.aux
Syllabus/Syllabus.fdb_latexmk
Syllabus/Syllabus.fls
Syllabus/Syllabus.log
Syllabus/Syllabus.out
Syllabus/Syllabus.pdf
Syllabus/Syllabus.synctex.gz
Book/follx-ubc-app-quickreference-Hunt.aux
Lectures/lectures/0-handout.aux
Lectures/lectures/0-handout.fdb_latexmk
Lectures/lectures/0-handout.fls
Lectures/lectures/0-handout.log
Lectures/lectures/0-handout.nav
Lectures/lectures/0-handout.pdf
Lectures/lectures/0-handout.snm
Lectures/lectures/0-handout.synctex.gz
Lectures/lectures/0-handout.toc
Lectures/lectures/pdfa.xmpi
Lectures/Notes/Week1Tu.aux
Lectures/Notes/Week1Tu.bbl
Lectures/Notes/Week1Tu.blg
Lectures/Notes/Week1Tu.fdb_latexmk
Lectures/Notes/Week1Tu.fls
Lectures/Notes/Week1Tu.log
Lectures/Notes/Week1Tu.pdf
Lectures/Notes/Week1Tu.synctex.gz
Book/forallx-ubc.synctex(busy)
Lectures/Notes/Week1Th/Week1Th.aux
Lectures/Notes/Week1Th/Week1Th.fdb_latexmk
Lectures/Notes/Week1Th/Week1Th.fls
Lectures/Notes/Week1Th/Week1Th.log
Lectures/Notes/Week1Th/Week1Th.pdf
Lectures/Notes/Week1Th/Week1Th.synctex.gz
Book/forallx-ubc.toc
Lectures/Notes/Week1Tu/Week1Tu.fdb_latexmk
Lectures/Notes/Week1Tu/Week1Tu.fls
Lectures/Notes/Week1Tu/Week1Tu.log
Lectures/Notes/Week1Tu/Week1Tu.pdf
Lectures/Notes/Week1Tu/Week1Tu.synctex.gz
Lectures/Notes/Week1Tu/Week1Tu.aux
Lectures/Notes/Week2Th/Week2Th.aux
Lectures/Notes/Week2Th/Week2Th.fdb_latexmk
Lectures/Notes/Week2Th/Week2Th.fls
Lectures/Notes/Week2Th/Week2Th.log
Lectures/Notes/Week2Th/Week2Th.pdf
Lectures/Notes/Week2Th/Week2Th.synctex.gz
Lectures/Notes/Week2Tu/Week2Tu.aux
Lectures/Notes/Week2Tu/Week2Tu.fdb_latexmk
Lectures/Notes/Week2Tu/Week2Tu.fls
Lectures/Notes/Week2Tu/Week2Tu.log
Lectures/Notes/Week2Tu/Week2Tu.pdf
Lectures/Notes/Week2Tu/Week2Tu.synctex.gz
Lectures/Notes/Week3Tu/Week3Tu.aux
Lectures/Notes/Week3Tu/Week3Tu.fdb_latexmk
Lectures/Notes/Week3Tu/Week3Tu.fls
Lectures/Notes/Week3Tu/Week3Tu.log
Lectures/Notes/Week3Tu/Week3Tu.pdf
Lectures/Notes/Week3Tu/Week3Tu.synctex.gz
ProblemSets/NonCarnap/PSet03/Problem_Set_03.aux
ProblemSets/NonCarnap/PSet03/Problem_Set_03.fdb_latexmk
ProblemSets/NonCarnap/PSet03/Problem_Set_03.fls
ProblemSets/NonCarnap/PSet03/Problem_Set_03.log
ProblemSets/NonCarnap/PSet03/Problem_Set_03.pdf
ProblemSets/NonCarnap/PSet03/Problem_Set_03.synctex.gz
ProblemSets/NonCarnap/PSet04/Solutions/24.241_PS_3_Solutions.pdf
ProblemSets/NonCarnap/PSet04/Problem_Set_04.aux
ProblemSets/NonCarnap/PSet04/Problem_Set_04.fdb_latexmk
ProblemSets/NonCarnap/PSet04/Problem_Set_04.fls
ProblemSets/NonCarnap/PSet04/Problem_Set_04.log
ProblemSets/NonCarnap/PSet04/Problem_Set_04.pdf
ProblemSets/NonCarnap/PSet04/Problem_Set_04.synctex.gz
ProblemSets/NonCarnap/24.241_PS_3_Solutions.pdf
ProblemSets/NonCarnap/Problem_Set_3_due_fri_sept_30.pdf
Lectures/Notes/Week01Th/Week1Th.aux
Lectures/Notes/Week01Th/Week1Th.fdb_latexmk
Lectures/Notes/Week01Th/Week1Th.fls
Lectures/Notes/Week01Th/Week1Th.log
Lectures/Notes/Week01Th/Week1Th.pdf
Lectures/Notes/Week01Th/Week1Th.synctex.gz
Lectures/Notes/Week01Tu/Week1Tu.fdb_latexmk
Lectures/Notes/Week01Tu/Week1Tu.aux
Lectures/Notes/Week01Tu/Week1Tu.fls
Lectures/Notes/Week01Tu/Week1Tu.log
Lectures/Notes/Week01Tu/Week1Tu.pdf
Lectures/Notes/Week01Tu/Week1Tu.synctex.gz
Lectures/Notes/Week02Th/Week2Th.aux
Lectures/Notes/Week02Th/Week2Th.fdb_latexmk
Lectures/Notes/Week02Th/Week2Th.fls
Lectures/Notes/Week02Th/Week2Th.log
Lectures/Notes/Week02Th/Week2Th.pdf
Lectures/Notes/Week02Th/Week2Th.synctex.gz
Lectures/Notes/Week02Tu/Week2Tu.aux
Lectures/Notes/Week02Tu/Week2Tu.fdb_latexmk
Lectures/Notes/Week02Tu/Week2Tu.fls
Lectures/Notes/Week02Tu/Week2Tu.log
Lectures/Notes/Week02Tu/Week2Tu.pdf
Lectures/Notes/Week02Tu/Week2Tu.synctex.gz
Lectures/Notes/Week03Tu/Week3Tu.aux
Lectures/Notes/Week03Tu/Week3Tu.fdb_latexmk
Lectures/Notes/Week03Tu/Week3Tu.fls
Lectures/Notes/Week03Tu/Week3Tu.log
Lectures/Notes/Week03Tu/Week3Tu.pdf
Lectures/Notes/Week03Tu/Week3Tu.synctex.gz
Lectures/Notes/Week03Th/Week3Th.aux
Lectures/Notes/Week03Th/Week3Th.fdb_latexmk
Lectures/Notes/Week03Th/Week3Th.fls
Lectures/Notes/Week03Th/Week3Th.log
Lectures/Notes/Week03Th/Week3Th.pdf
Lectures/Notes/Week03Th/Week3Th.synctex.gz
Lectures/Notes/Week04Th/Week04Th.aux
Lectures/Notes/Week04Th/Week04Th.fdb_latexmk
Lectures/Notes/Week04Th/Week04Th.fls
Lectures/Notes/Week04Th/Week04Th.log
Lectures/Notes/Week04Th/Week04Th.pdf
Lectures/Notes/Week04Th/Week04Th.synctex.gz
Lectures/Notes/Week04Tu/Week04Tu.aux
Lectures/Notes/Week04Tu/Week04Tu.fdb_latexmk
Lectures/Notes/Week04Tu/Week04Tu.fls
Lectures/Notes/Week04Tu/Week04Tu.log
Lectures/Notes/Week04Tu/Week04Tu.pdf
Lectures/Notes/Week04Tu/Week04Tu.synctex.gz
ProblemSets/NonCarnap/PSet05/Problem_Set_05.aux
ProblemSets/NonCarnap/PSet05/Problem_Set_05.fdb_latexmk
ProblemSets/NonCarnap/PSet05/Problem_Set_05.fls
ProblemSets/NonCarnap/PSet05/Problem_Set_05.log
ProblemSets/NonCarnap/PSet05/Problem_Set_05.pdf
ProblemSets/NonCarnap/PSet05/Problem_Set_05.synctex.gz
